/* Phone */
@media (min-width: 100px) and (max-width: 500px) {

    .loginCard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50hv;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10%;
        padding: 10pt;
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .flex-item {
        width: 45%;
        margin: 5pt;
        text-align: justify;
        font-size: 0.8em;
    }

    .scroll-jobtype {
        font-weight: bold;
        font-size: 0.6em;
    }

    .scroll-description {
        height: 100pt;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .scroll-name {
        height: 50pt;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}

/* Desktop */

@media (min-width: 501px) {

    .loginCard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50hv;
        margin-right: 15%;
        margin-left: 15%;
        margin-top: 10%;
        padding: 10pt;
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .flex-item {
        width: 30%;
        margin: 5pt;
        text-align: justify;
        font-size: 1em;
    }

    .scroll-jobtype {
        font-weight: bold;
        font-size: 0.6em;
    }

    .scroll-description {
        height: 100pt;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .scroll-name {
        height: 50pt;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}