/* Phone */
@media (min-width: 100px) and (max-width: 500px) {

    .loginCard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50hv;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10%;
        padding: 10pt;
    }
}

/* Desktop */

@media (min-width: 501px) {
    
    .loginCard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50hv;
        margin-right: 15%;
        margin-left: 15%;
        margin-top: 10%;
        padding: 10pt;
    }
}

.imageLogo {
    height: 200px;
}