.centerText {
    text-align: center;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

.error {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

.page-title {
    width: 100%;
}